body {
    @apply bg-zinc-900 text-white/80;

    &.light-mode {
        @apply bg-neutral-50 text-neutral-600;
    }

    --actualPrimary: var(--primary);
}

.light-mode * {
    --actualPrimary: var(--secondary);
}

* {
    @apply transition-colors;
}

.card-label {
    @apply text-xs text-primary mb-[3px] tracking-wider light:text-secondary light:font-medium;

    &.muted {
        @apply text-white/60 light:text-neutral-400;
    }
}

.ellipsis {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

.divider {
    @apply h-px w-full border-b border-dashed border-zinc-600 light:border-neutral-300;
}

.button {
    @apply px-2 py-2 justify-center flex items-center transition text-sm font-bold tracking-wide whitespace-nowrap uppercase;

    > span {
        @apply mx-0.5;
    }

    > svg {
        width: 18px;
        height: 18px;
        @apply mx-0.5;
    }

    &.unselected {
        @apply hover:text-white text-white/50 bg-zinc-800 light:bg-neutral-100 light:text-neutral-600 light:hover:bg-neutral-200;
    }

    &.selected {
        @apply text-black/90 bg-primary hover:opacity-80 light:bg-secondary light:text-white/90;
    }
}

.fadein {
    animation: fadein 250ms linear;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
